<div class="stoplight-tracker">
  <div class="tracker-zones">
    <!-- Green Zone: I want to go next -->
    <div class="zone zone-green" data-zone="green" data-drop-zone="green">
      <div class="zone-header">
        <i class="fas fa-circle"></i>
        <span>Want to Go</span>
      </div>
      <div class="zone-content">
        {{#each green}}
          <div class="combatant-entry {{#if this.isCurrent}}current-turn{{/if}}" data-combatant-id="{{this.id}}" draggable="true">
            <img src="{{this.img}}" alt="{{this.name}}" class="combatant-img" />
            <span class="combatant-name">{{this.name}}</span>
          </div>
        {{else}}
          <p class="zone-empty">No one ready</p>
        {{/each}}
      </div>
    </div>

    <!-- Yellow Zone: Default/neutral state -->
    <div class="zone zone-yellow" data-zone="yellow" data-drop-zone="yellow">
      <div class="zone-header">
        <i class="fas fa-circle"></i>
        <span>Waiting</span>
      </div>
      <div class="zone-content">
        {{#each yellow}}
          <div class="combatant-entry {{#if this.isCurrent}}current-turn{{/if}}" data-combatant-id="{{this.id}}" draggable="true">
            <img src="{{this.img}}" alt="{{this.name}}" class="combatant-img" />
            <span class="combatant-name">{{this.name}}</span>
          </div>
        {{else}}
          <p class="zone-empty">No one waiting</p>
        {{/each}}
      </div>
    </div>

    <!-- Red Zone: Already gone this round -->
    <div class="zone zone-red" data-zone="red" data-drop-zone="red">
      <div class="zone-header">
        <i class="fas fa-circle"></i>
        <span>Already Acted</span>
      </div>
      <div class="zone-content">
        {{#each red}}
          <div class="combatant-entry {{#if this.isCurrent}}current-turn{{/if}}" data-combatant-id="{{this.id}}" draggable="true">
            <img src="{{this.img}}" alt="{{this.name}}" class="combatant-img" />
            <span class="combatant-name">{{this.name}}</span>
          </div>
        {{else}}
          <p class="zone-empty">No one acted yet</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>